:root
{
    --button-color:#FFFFFF;
    --text-color:#9398B2;
    --top-btm-color:#131521;
    --bgc-color:#6E00DC;
    --gradient: #7F00FF 100 %, #19D233 100 %;
    --btn-bgc: #191D2D;
    --secondary-color: blue;
}
h1,
h2,
h3,
h4,
h5,
h6,
p
{
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol
{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
@keyframes dota-rotate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
img{
    display: block;
}
.list
{
    text-decoration: none;
    list-style: none;
}
/* .list .current
{
    color: var(--secondary-color);
} */
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

body
{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: var(--button-color);

}
/* Header */
.header
{
    max-width: 1600px;
    margin: 0 auto;
    background: var(--top-btm-color);
    /* width: 1600px; */
}
.container
{
    display: flex;
    align-items: center;
    width: 1216px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.nav-container{
    display: flex;
    align-items: center;
}
.list .current
{
   color: var(--secondary-color); 
}
/* .content{
    cursor : url(../images/glass.svg), auto;
    
   } */
.link
{
    display: flex;
    align-items: center;
}
.logo
{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--button-color);
    margin-left: 9px;
    margin-right: 12px;
    padding: 4px 10px;
    border: 1px solid;
    border-image-slice: 0.5;
    border-width: 1.5px;
    border-image-source: linear-gradient(to left, #7F00FF, #19D233);
}
.dota-two
{
    width: 30px;
    margin-right: 211px;
    animation-name: dota-rotate;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
}
.list-item
{
    display: flex;
    margin-right: 36px;
}
.studio
{
    position: relative;
    display: block;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.2;
    padding-top: 27px;
    padding-bottom: 27px;

}
.current::after
{
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: blue;
    /* transform:scaleX(0);
    transition: transform 250ms linear; */
}
/* .studio:hover::after
{
    transform:scaleX(1)
} */
.studio:hover,
.studio:focus
{
    color: var(--button-color);
}
.button-new
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn
{
    
    background: #191D2D;
    max-width: 120px;
    height: 40px;
    
}
.flag
{
    display: flex;
    margin-left: 7px;
    color: var(--text-color);
}
.icon-new
{
    padding: 3px;
}


/* Main */
.section
{
    max-width: 1600px;
    margin: 0 auto;
    background-image:url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* padding-top: 140px; */
}
.section-one::after
{
    content: '';
    margin-top: 140px;
    display: block;
    width: 1216px;
    height: 1px;
    background: linear-gradient(#e66465, #9198e5);
}
.section-container
{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section-one
{
    max-width: 1200px;
    min-height: 526px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    background-image: url(../images/section1.svg);
    background-repeat: no-repeat;
    background-size: 733px;
    background-position: top -48px right 100px;
    padding-top: 140px;
}
.section-title
{
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 32px;
}
.section-btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 9px;
    background: var(--bgc-color);
    color: var(--button-color);
    padding: 25px 29px 25px 29px;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    transition: rotate(0deg);
    transition-property: transform;
    transition-delay: 0;
    transition-duration: 500ms;
}
.section-btn:hover,
.section-btn:focus
{
    transform:rotate(360deg);
}
.arrow
{
    margin-left: 25px;
    width: 22px;
    height: 8px;
}
/* New section */
.new-section
{
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(../images/store2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    /* padding-top: 543px; */
    
    /* padding-bottom: 89px; */
}
.new-section > .section-container::after
{
    content: '';
    margin-top: 89px;
    display: block;
    width: 1216px;
    height: 1px;
    background: linear-gradient(#e66465, #9198e5);
}
.new-section > .section-container
{
    max-width: 1200px;
    min-height: 526px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    background-image: url(../images/leshrakfirst.svg),url(../images/deathsecond.svg),url(../images/sectiontwoo.svg), url(../images/sectiontwo.svg);
    background-repeat: no-repeat;
    background-size:409px,509px,700px,700px;
    background-position: top 190px right 312px, top 68px left 215px,
    top -4px left -51px,top -4px right -112px;
    padding-top: 543px;
}
.section-new
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.dota
{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}
.dota:not(:last-child)
{
    margin-right: 374px;
}

/* Second section */
.section-second
{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: #080C13;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gradient
{
    width: 488px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* margin-bottom: 120px; */
}

.section-second > .section-container
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background:url(../images/witch.svg);
    background-repeat: no-repeat;
    background-position: left 0px top 417px;
    padding-top: 120px;
    padding-bottom: 70px;
    background-size: 1200px;
}
.like-btn
{
    width: 488px;
}
.like-btn:hover .under-btn
{
    border: 1px solid;
    border-image-slice: 0.5;
    border-width: 1px;
    border-radius: 10px;
    border-image-source: linear-gradient(to left, #7F00FF, #19D233);
    color: var(--button-color);
    background-image: linear-gradient(to left, rgba(123, 6, 248, 0.1),
    rgba(45, 104, 255, 0));
}
.under-btn
{
    display: flex;
    text-align: center;
    padding: 26px 24px;
    font-weight: 700;
    font-size: 16px;
    min-width: 340px;
    color: #E1E7F8;
}
.like-btn:nth-child(3)
{
    padding: 0;
}
.text-two
{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.6;
    color: var(--button-color);
}
.title-two
{
    align-items: baseline;
    margin-bottom: 24px;
}
.under-text-two
{
    width: 624px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #E1E7F8;
}
.paragraph-two:not(:last-child)
{
    margin-bottom: 24px;
}
.non-gradient
{
    margin-left: 58px;
}
.colorfull
{
    margin-top: 120px;
    padding: 65px 852px 65px 72px;
}

/* Section 2 start*/
.true-section
{
    background-image: url(../images/black.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 94px;
    padding-bottom: 94px;
    max-width: 1600px;
    margin: 0 auto;
}
.sec-page
{
    display: flex;
    align-items: center;
    width: 1216px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.new-page
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    perspective: 1000px;
}
.page-card
{
    flex-basis: calc((100% - 30px * 3) / 3 );
    margin-right: 30px;
    margin-bottom: 30px;
    /* overflow: hidden; */
    
}
.page-card:nth-child(3n)
{
    margin-right: 0;
}
.page-card:nth-last-child(-n+3)
{
    margin-bottom: 0;
}
.page-card:hover,
.page-card:focus
{
     box-shadow: 1px 3px 14px 5px #FF5620;
     transition-duration: 500ms;
     outline: 1px solid #eeeeee;
}
.page-link
{
    display: block;
    align-items: center;
}
.card-container {
    display: block;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    padding: 20px 24px;
    background-color: var(--button-color);
    color: black;
}

.img-page
{
    margin: 0 auto;
    border-top:1px solid #eeeeee ;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding: 20px 70px;
    /* 32px */
    transform: rotateY(0);
    transition: transform 250ms linear;
}
.page-link:hover .img-page
{
    transform: rotateY(180deg);
}
.text
{
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.para-text
{
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: #757575;
}
/* Section 2 end */

/* Footer */

.flex
{
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #080C13;
}
.footer-container
{
    display: flex;
    align-items: center;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.footer-flexone
{
    width: 198px;
    margin-right: 86px;
}
.logo-footer
{
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--button-color);
    margin-left: 9px;
    /* margin-right: 250px; */
    margin-bottom: 24px;
    padding: 4px 10px;
    border: 1px solid;
    border-image-slice: 0.5;
    border-width: 1.5px;
    border-image-source: linear-gradient(to left, #7F00FF, #19D233);
}
.svg
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer-text
{
    margin-left: 9px;
    font-weight: 500;
    font-size: 13px;
    font-family: inherit;
    line-height: 1.2;
    color: #1B2335;
    margin-bottom: 60px;
}
.icon-footer:not(:last-child)
{
    margin-right: 5px;
}
.title-icons
{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 26px;
    height: 24px;
    fill: grey;

}
.svg-footer
{
    fill: var(--button-color);
    width: 20px;
    height: 20px;
}
.footer-flex:not(:last-child)
{
    margin-right: 195px;
}
.hello
{
    width: 115px;
    height: 147px;
}
.hello-footer:not(:last-child)
{
    margin-bottom: 24px;
}
.hellotwo
{
    width: 166px;
    height: 147px;
}
.hellothree
{
    width: 215px;
    height: 147px;
}
.hello-text
{
color: var(--text-color);
}
.hello-text:hover
{
    color: var(--button-color);
}